.signin-page{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: aliceblue;
}

.form-sec{
    
    width: 30rem;
}

.dec{
    margin-top: 3.5rem;
    
}

.dec h1{
    font-weight: 600;
    font-size: 2rem;
}

.dec p{
    font-size: 18px;
    margin-bottom: 0;
}

.dec p span{
    color: blue;
}

.two-btn{
    background-color: rgb(22,29,41);
    width: 15rem;
    height: 3rem;
    border-radius: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.two-btn button{
    width: 6.5rem;
    height: 2.5rem;
    color: white;
    background-color: rgb(22,29,41);
    /* background-color: rgb(0,8,20); */
    border-radius: 5rem;
    border: 1px solid rgb(22,29,41);
    font-size: .9rem;
    
}

.two-btn .active{
    background-color: rgb(0,8,20);
    border: 1px solid rgb(0,8,20);
}

.first-last{
    
    display: flex;
}

.first-last div input{
    height: 2.75rem;
    width: 13rem;
    background-color: rgb(22,29,41);
    color: rgba(255, 255, 255, 0.622);
    font-size: medium;
    border-radius: 0.75rem;
    padding-left: 10px;
    border: 1px solid rgb(22,29,41);
}

.first-last div label{
    font-size: .9rem;
    font-weight: 600;

}

.first-last div label span{
    color: red;
}

.email{
    display: flex;
    
    flex-direction: column;
}

.email input{
    height: 48px;
    width: 28.5rem;
    background-color: rgb(22,29,41);
    color: rgba(255, 255, 255, 0.622);
    font-size: medium;
    border-radius: 0.75rem;
    padding-left: 10px;
    border: 1px solid rgb(22,29,41);
}

.email label{
    font-size: .9rem;
    font-weight: 600;

}

.email label span{
    color: red;
}

.pswd{
    display: flex;

}

.pswd input{
    height: 2.75rem;
    width: 13rem;
    background-color: rgb(22,29,41);
    color: rgba(255, 255, 255, 0.622);
    font-size: medium;
    border-radius: 0.75rem;
    padding-left: 10px;
    border: 1px solid rgb(22,29,41);

}

.pswd label span {
    color: red;
}

.cre-pswd input{
    width: 9rem;
}


.crf-pswd input{
    width: 18rem;
}

.icon1{
    position: relative;
    right: 1.6rem;
    font-size: 1.2rem;
    top: .3rem;
}

.icon2{
    font-size: 1.2rem;
    position: relative;
    left: 17rem;
    bottom: 2rem;
}

.cre-acc{
    
    height: 40px;
    width: 30rem;
    /* background-color: yellow; */
    color: rgba(255, 255, 255, 0.622);
    font-size: medium;
    color: black;
    font-weight: 600;
    border-radius: 0.75rem;
    padding-left: 10px;
    border: 1px solid rgb(22,29,41);
    background-color: yellow;
}